<footer>
    <p><span class="copyright">&#169; Copyright {{ site.time | date: "%Y"}} <a href="https://trippshelnutt.com">Tripp Shelnutt</a></span></p>
    <p>
        <span class="links">
            <a href="https://https://www.linkedin.com/in/trippshelnutt/"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/trippshelnutt"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/trippshelnutt"><i class="fab fa-github"></i></a>
            <a href="/feed.xml"><i class="fas fa-rss-square"></i></a>
        </span>
    </p>
</footer>